
/* Form Styles */
#FormSection{
    display: none;
}
#Form {
    background-color: #fff;
    padding: 20px;
    text-align: center;
}

#Form p {
    font-weight: bold;
}

#Form input[type="radio"] {
    display: none;
}

#Form label {
    display: inline-block;
    background-color: #ccc;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 5px;

}

#Form input[type="text"] {
    padding: 5px;
    margin-top: 10px;
    border-radius: 10px;

}

#playerContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#Submit {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 10px;

}

#Form input[type="radio"]:checked + label {
    background-color: #333;
    color: #fff;
}

/* Winner Message Styles */

#WinnerMessage {
    display: none;
    background-color: #fff;
    padding: 20px;
    text-align: center;
}

#Continue,
#Close {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 10px;
}

.popUp {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
    display: flex;
}

#MainPage {
    width: 80%;
    margin: 20px;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#Hangman {
    display: block;
    width: 100%;
    height: 50%;
    background-color: #ccc;
    margin-bottom: 20px;
}

#LettersContainer {
    display: flex;
    flex-direction: row;
}

#LettersContainer p {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    align-self: flex-start;
}

#MissingLettersContainer,
#GuessesContainer{
    width: 100%;
    height: 100%;
}

#MissingLettersContainer{
    margin-right: 20px;
}

#MissingLetters,
#Guesses {
    display: block;
    width: 100%;
    height: auto;
    background-color: #eee;
    margin-top: 10px;
    align-self: center;
}

#Score {
    font-size: 24px;
    font-weight: bold;
}

#New {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#New:hover {
    background-color: #45a049;
}

#sideBar {
    margin: 20px;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.spin{
    animation: spin 0.5s linear forwards;
}

@keyframes spin {
    100% {transform: rotate(360deg)}
}